extends ../templates/_main.pug
include ../helpers/mixins.pug

block var
  - const cover = true

block content
  include ../modules/_breadcrumbs

  section.catalog
    .container
      h2.catalog__title.display.display_size_big Каталог межкомнатных дверей
      .catalog__inner
        .catalog__row.catalog__row--left.filter
          ul.filter__list
            li.filter__item.type
              h3.filter__title Тип

              ul.filter__sublist.type__list
                li.type__item
                  label.filter__label(for="input-deaf")
                    input.filter__input#input-deaf(type="checkbox" name="type" value="deaf")
                    span.filter__label-after
                    span.filter__label-text Глухая

                li.type__item
                  label.filter__label(for="input-glass")
                    input.filter__input#input-glass(type="checkbox" name="type" value="glass")
                    span.filter__label-after
                    span.filter__label-text Со стеклом

                li.type__item
                  label.filter__label(for="input-folding")
                    input.filter__input#input-folding(type="checkbox" name="type" value="folding")
                    span.filter__label-after
                    span.filter__label-text Складные

            li.filter__item.price
              h3.filter__title.price__title Цена

              .price__range.price-range
              label.price-range__label
                input.price-range__input.js-price-range(type="text" name="price-range")

              .price-range__box.input-group
                label.input-group__label.input-group__label--from
                  input.input-group__input.input-group__from(type="text" placeholder="от 0 ₽" readonly)

                label.input-group__label.input-group__label--to
                  input.input-group__input.input-group__to(type="text" placeholder="до 10000 ₽" readonly)

            li.filter__item.toggles
              ul.toggles__list
                li.toggles__item
                  label.toggles__label
                    input.toggles__input(type="checkbox" name="toggles" value="toggles-in-stock")
                    span.toggles__slider
                    span.toggles__text В наличии

                li.toggles__item
                  label.toggles__label
                    input.toggles__input(type="checkbox" name="toggles" value="toggles-new")
                    span.toggles__slider
                    span.toggles__text  Новинки

                li.toggles__item
                  label.toggles__label
                    input.toggles__input(type="checkbox" name="toggles" value="toggles-sale")
                    span.toggles__slider
                    span.toggles__text Распродажа


            li.filter__item.color
              h3.filter__title.color__title Цвет
              ul.color__list
                each item in colors
                  li.color__item
                    label.color__label(title=`${item[1]}` class=`color__label--${item[2]}`)
                      input.color__input(type="checkbox" name="color" value=`${item[0]}`)







            li.filter__item.make
              h3.filter__title Производители

              ul.filter__sublist.make__list
                li.make__item
                  label.filter__label(for="input-corona")
                    input.filter__input#input-corona(type="checkbox" name="make" value="corona")
                    span.filter__label-after
                    span.filter__label-text Корона

                li.make__item
                  label.filter__label(for="input-Dubrava-Siberia")
                    input.filter__input#input-Dubrava-Siberia(type="checkbox" name="make" value="Dubrava-Siberia")
                    span.filter__label-after
                    span.filter__label-text Дубрава-Сибирь

                li.make__item
                  label.filter__label(for="input-Ocean")
                    input.filter__input#input-Ocean(type="checkbox" name="make" value="Ocean")
                    span.filter__label-after
                    span.filter__label-text Океан

                li.make__item
                  label.filter__label(for="input-Interne")
                    input.filter__input#input-Interne(type="checkbox" name="make" value="Interne")
                    span.filter__label-after
                    span.filter__label-text Interne DOORS

                li.make__item
                  label.filter__label(for="input-Zadoor")
                    input.filter__input#input-Zadoor(type="checkbox" name="make" value="Zadoor")
                    span.filter__label-after
                    span.filter__label-text Zadoor

                li.make__item
                  label.filter__label(for="input-line-door")
                    input.filter__input#input-line-door(type="checkbox" name="make" value="line-door")
                    span.filter__label-after
                    span.filter__label-text Лайн-дор

                li.make__item
                  label.filter__label(for="input-Mebildrev")
                    input.filter__input#input-Mebildrev(type="checkbox" name="make" value="Mebildrev")
                    span.filter__label-after
                    span.filter__label-text Мебильдрев




        .catalog__row.catalog__row--right.products
          .products__top.info
            .info__box
              p.info__text Найдено
                span.info__num 109
                | товаров

            label.info__filter.info-filter(for="select-info-filter")
              select.info-filter__select#select-info-filter(name="select-info")
                option.info-filter__option(value="pop") Популярное
                option.info-filter__option(value="up-price") Дороже
                option.info-filter__option(value="down-price") Дешевле
                option.info-filter__option(value="new") Новинки

          ul.products__list
            while n<12
              -n++
              li.products__item(class=(n===2?'products__item--new': ''))

                article.sale-card
                  img.sale-card__thumb(src='img/ds1.jpg' width='93' height='195' alt='Дверь Агата')
                  span.sale-card__text
                    .sale-card__head
                      h3.sale-card__title
                        a(href='product.html') Агата
                      span.sale-card__desc
                        p Тон 30 Шоколад шпон ясень

                    span.sale-card__action
                      span.sale-card__price
                        span.sale-card__box
                          span.sale-card__price-before 6500 ₽
                          if n===2
                            span.sale-card__presence.sale-card__presence--no под заказ
                          else if n===3
                            span.sale-card__presence.sale-card__presence--few мало на складе
                          else
                            span.sale-card__presence.sale-card__presence--yes в наличии

                        span.sale-card__price-after 2600 ₽

                  ul.sale-card__colors
                    li.sale-card__colors-item
                      label.sale-card__colors-label(style="background-color: #0A0A0A;" data-image='img/ds2.jpg' data-color='Тон 10 Рустик шпон дуб' tabindex="0")
                        input.sale-card__colors-input(type="text")
                    li.sale-card__colors-item
                      label.sale-card__colors-label(style="background-color: #E8F7C8;" data-image='img/ds1.jpg' data-color='Тон 30 Шоколад шпон ясень' tabindex="0")
                        input.sale-card__colors-input(type="text")
                    li.sale-card__colors-item
                      label.sale-card__colors-label(style="background-color: #FF3232;" data-image='img/ds2.jpg' data-color='Тон 10 Рустик шпон дуб' tabindex="0")
                        input.sale-card__colors-input(type="text")

                  .sale-card__wrap-link
                    a.btn-fill.sale-card__link(href='#modal-order' rel="modal:open" data-modal="#modal-order") Заказ в 1 клик

            -n=0
          .products__bottom
            .pagination
              ul.pagination__list
                li.pagination__item.pagination__item--prev.pagination__item--control.pagination__item--disabled
                  a.pagination__link(href="#") Назад

                  while n<5
                    -n++
                    li.pagination__item.pagination__item.pagination__item--number
                      if n===1
                        a.pagination__link.pagination__link--active(href="#")= n

                      else
                        a.pagination__link(href="#")= n

                  -n=0

                li.pagination__item.pagination__item--next.pagination__item--control
                  a.pagination__link(href="#") Вперед


            .analytics
              p.analytics__text Вы посмотрели&ensp;
                span.analytics__viewed 48&ensp;
                |из&ensp;
                span.analytics__total 1250&ensp;
                |товаров




  section.modal.modal--order.modal-order#modal-order
    .modal-order__inner.configuration
      .configuration__col.configuration__col--left
        h2.configuration__title.display.display_size_big Бристоль 1ПГ
        p.configuration__head Укажите необходимые вам параметры
          br
          | и рассчитайте точную стоимость
        form.configuration__form.configuration-form#configuration-form(action="#" method="post" name="modal-order-form")
          .configuration-form__inner
            ul.configuration-form__list.configuration-tabs
              li.configuration-tabs__item
                a.configuration-tabs__link(href="#tabs-configuration" data-tabby-default) Конфигуратор
              li.configuration-tabs__item
                a.configuration-tabs__link(href="#tabs-characteristic") Характеристики


            .configuration-tabs__content#tabs-configuration
              each item in configuration
                label.configuration-tabs__label(class=(item[1] === 'color'?'configuration-tabs__label--color':''))
                  span.configuration-tabs__head= item[0]
                  select.configuration-tabs__select(name=`configuration-${item[1]}`)


                    if item[1] === 'color'
                      option.configuration-tabs__option-color(value="#0A0A0A") вариант 1
                      option.configuration-tabs__option-color(value="#E8F7C8") вариант 2
                      option.configuration-tabs__option-color(value="#0A0A0A") вариант 3
                    else

                      option(value="1") вариант 1
                      option(value="2") вариант 2
                      option(value="3") вариант 3





            .configuration-tabs__content#tabs-characteristic.characteristic
              ul.characteristic__list
                each item in characteristic
                  li.characteristic__item
                    span.characteristic__term
                      p= item[0]
                    span.characteristic__description
                      p= item[1]
          hr.configuration-form__line

          .configuration-form__price.price-section
            span.price-section__before 6500 ₽
            //span.price-section__after 2600 ₽
            span.price-section__after.price-section__after--line 2600 ₽
            //span.price-section__presence.price-section__presence--yes в наличии
            //span.price-section__presence.price-section__presence--no под заказ
            span.price-section__presence.price-section__presence--few мало на складе



      .configuration__col.configuration__col--right.view
        ul.view__list
          li.view__item
            a.view__link(href="#in-interior" data-tabby-default) В интерьере

          li.view__item
            a.view__link(href="#out-interior") Без интерьера

        .view__in#in-interior
          .view__interior-main.view__interior-main--bg
            figure.view__img-door
              img(src="/img/door-1.png" alt="дверь" width="199" height="419")

          .view__interiors.preview
            figure.preview__img.preview__img--current.preview__img--1(role="button" tabindex="0" data-bg="/img/view-bg-1.jpg")
            figure.preview__img.preview__img--2(role="button" tabindex="0" data-bg="/img/view-bg-2.jpg")
            figure.preview__img.preview__img--3(role="button" tabindex="0" data-bg="/img/view-bg-3.jpg")
            figure.preview__img.preview__img--4(role="button" tabindex="0" data-bg="/img/view-bg-4.jpg")






        .view__out#out-interior
          .view__interior-main
            figure.view__img-door
              img(src="/img/door-1.png" alt="дверь" width="199" height="419")

      .configuration__click.click
        h3.click__title.display.display_size_big заказ в 1 клик
        label.click__label(for="input-configuration-phone")
          input.click__input#input-configuration-phone(type="text" name="configuration-phone" form="configuration-form" required)

        button.click__btn.btn-fill(type="submit" form="configuration-form") Оформить заказ
